@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.bg-cream {
  --tw-bg-opacity: 1;
  background-color: hsl(27 66% 92% / var(--tw-bg-opacity));
}

.bg-pale-orange {
  --tw-bg-opacity: 1;
  background-color: hsl(33 100% 98% / var(--tw-bg-opacity));
}

.bg-soft-red {
  --tw-bg-opacity: 1;
  background-color: hsl(10 79% 65% / var(--tw-bg-opacity));
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.font-bold {
  font-weight: 700;
}

@media (min-width: 640px) {
  .sm\:w-\[90rem\] {
    width: 90rem;
  }
}